body 
{
    margin: 0;
    overflow: auto;
}
.background
{
    background-image: url(../Images/778122.png);
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
	position: fixed;
	margin: 0;
}
.ul 
{
    position: absolute;
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 100%;
    transform: translate(-100%, 10%);
    opacity: 1;
    overflow: auto;
}

.ul .li 
{
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:aqua;
    transform: rotate(45deg);
    margin: -100px;
    overflow: hidden;
    opacity: 0.95;
    display: none;
}
.ul .li:hover 
{
    opacity: 1;
}
.ul .li.diamond1 
{
    top: 25%;
    left: 25%;
}
.ul .li.diamond2
{
    top: 50%;
    left: 50%;
}
.ul .li.diamond3 
{
    top: 25%;
    left: 75%;
}
.ul .li.diamond4
{
    top: 100%;
    left: 50%;
}
.ul .li.diamond5
{
    top: 75%;
    left: 75%;
}
.ul .li.diamond6
{
    top: 75%;
    left: 25%;
}
.ul .li.diamond7
{
    top: 125%;
    left: 25%;
}
.ul .li.diamond8
{
    top: 125%;
    left: 75%;
}
.ul .li.diamond9
{
    top: 150%;
    left: 50%;
}
.ul .li.diamond1 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond2 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond3 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond4 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond5 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond6 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond7 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond8 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond9 .image 
{
    background: url(../Images/806821.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.image .text 
{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 60%;
    height: 38px;
    transform: translate(-42%, -50%);
    color: black;
    background-color: transparent;
}
.image .text:hover 
{
    text-decoration: underline;
}

