body 
{
    margin: 0;
    overflow: auto;
}
.background
{
    background-image: url(../Images/778122.png);
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
	position: fixed;
	margin: 0;
}
.ul 
{
    position: absolute;
    width: 600px;
    height: 915px;
    margin: 0;
    padding: 0;
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%);
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
    animation: FadeIn ease-in-out 1s;
    background-color: transparent;
}
.ul .li 
{
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);
    margin: -100px;
    overflow: hidden;
    opacity: 0.95;
    display: none;
    border-radius: 5px;
    border: 2px solid rgb(51, 48, 48);
    animation: none;
    
}
.ul .li:hover 
{
    opacity: 1;
}
.ul .li.diamond1 
{
    top: 30%;
    left: 25%;
}
.ul .li.diamond2
{
    top: 46%;
    left: 50%;
}
.ul .li.diamond3 
{
    top: 30%;
    left: 75%;
}
.ul .li.diamond4
{
    top: 78%;
    left: 50%;
}
.ul .li.diamond5
{
    top: 62%;
    left: 75%;
}
.ul .li.diamond6
{
    top: 62%;
    left: 25%;
}
.ul .li.diamond7
{
    top: 94%;
    left: 25%;
}
.ul .li.diamond8
{
    top: 94%;
    left: 75%;
}
.ul .li.diamond9
{
    top: 110%;
    left: 50%;
}
.ul .li.diamond10
{
    top: 78%;
    left: 100%;
}
.ul .li.diamond11
{
    top: 110%;
    left: 100%;
}
.ul .li.diamond12
{
    top: 46%;
    left: 100%;
}
.ul .li.diamond13
{
    top: 14%;
    left: 50%;
}
.ul .li.diamond14
{
    top: 14%;
    left: 100%;
}
.ul .li.diamond15
{
    top: 126%;
    left: 75%;
}
.ul .li.diamond16
{
    top: 126%;
    left: 25%;
}
.ul .li.diamond17
{
    top: -2%;
    left: 75%;
}
.ul .li .image
{
    background-size: cover;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.image .text 
{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 60%;
    height: 38px;
    transform: translate(-42%, -50%);
    color: black;
    background-color: transparent;

}
.image .text:hover 
{
    text-decoration: underline;
    cursor: pointer;
}
@keyframes FadeIn
{
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    75%{opacity: 0.75;}
    100%{opacity: 0.95;}
}

@keyframes Fadeout 
{
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}
}
.container 
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    animation: fade-container ease-in-out 1s;
    z-index: 1;
}
.container:hover 
{
    background-color: rgba(0, 0, 0, 0.55); 
}
.text-container 
{
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;  
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    position: relative;
    left: 2%;
    top: 2%;
    transform: translate(-3%, -2%);
}
.container .text 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 40%;
    position: relative;
    left: 30%;
    top: 2%;
    transform: translate(-3%, -30%);
    background-color: transparent;
}
.fade-container
{
	animation-name: fade-container;
	animation-duration: 1.5s;
}

@keyframes fade-container 
{
	from{top: 30%; opacity: 0;}
	to {top: 0%; opacity: 1;}
}













