body 
{
    margin: 0;
    overflow: auto;
}
.background
{
    background-image: url(../Images/778122.png);
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
	position: fixed;
	margin: 0;
}
.background .ul 
{
    position: absolute;
    width: 600px;
    height: 600px;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 100%;
    transform: translate(-100%, 10%);
    opacity: 1;
    overflow: auto;
}

.background .ul .li 
{
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:aqua;
    transform: rotate(45deg);
    margin: -100px;
    overflow: auto;
    opacity: 0.5;
    border: 1px solid black;
}
.background .ul .li:hover 
{
    opacity: 1;
    border: 1px solid aliceblue;
}
.background .ul .li.diamond1 
{
    top: 25%;
    left: 25%;
}
.background .ul .li.diamond2
{
    top: 50%;
    left: 50%;
}
.background .ul .li.diamond3 
{
    top: 25%;
    left: 75%;
}
.background .ul .li.diamond4
{
    top: 100%;
    left: 50%;
}
.background .ul .li.diamond5
{
    top: 75%;
    left: 75%;
}
.background .ul .li.diamond6
{
    top: 75%;
    left: 25%;
}
.background .ul .li.diamond7
{
    top: 125%;
    left: 25%;
}
.background .ul .li.diamond8
{
    top: 125%;
    left: 75%;
}
.background .ul .li.diamond9
{
    top: 150%;
    left: 50%;
}
.background .ul .li.image 
{
   width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale( 1.42);
}
.ul .li.diamond1 .image 
{
    background-image: url(../Images/806821.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond2 .image 
{
    background-image: url(../Images/806821.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond3 .image 
{
    background-image: url(../Images/806821.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond4 .image 
{
    background-image: url(../Images/765703.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond5 .image 
{
    background-image: url(../Images/765703.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond6 .image 
{
    background-image: url(../Images/765703.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond7 .image 
{
    background-image: url(../Images/765703.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond8 .image 
{
    background-image: url(../Images/765703.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
.ul .li.diamond9 .image 
{
    background-image: url(../Images/765703.png);
    background-size: cover;
    background-position: center;
    rotate: 315deg;
    font-size: 19px;
    text-align: left;
}
