body
{
	font-family: Arial;
	margin: 0;
}
*
{
	box-sizing: border-box;
	overflow: hidden;
}
.background-image
{

	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #cccccc;
	position: fixed;
	margin: 0;
}
img
{
	vertical-align: middle;
}
.text
{
	font-size: 12px;
	color: white;
	padding: 4px 6px;
	width: 100%;
	text-align: center;
	bottom: 8px;
	font-family: Lucida Sans;
	background-color: #00000099;
	border-radius: 2px;
}

.button
{
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	width: 150px;
	height: 40px;
	position: relative;
	background-size: cover;
	color: black;
	border: 1px solid #000000;
	border-radius: 4px;
	margin: 0;
	transition-duration: 0.4s;
}
.button:hover
{
	color: white;
	border: 1px solid white;
	background-position: center;
}
.error
{
	color: #FF0000;
}

/* width */
::-webkit-scrollbar 
{
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background: #5c5c5e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
    background: rgb(53, 51, 51);
}
