#mySidenav a
{
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 17px;
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: rgb(231, 231, 231);
    border-radius: 0 5px 5px 0;
    font-size: 8px;
    text-align: center;
}

#mySidenav a:hover 
{
    left: 0;
    font-size: 14px;
}

#about 
{
    top: 340px;
    background-color: #04AA6D;
}

#blog 
{
    top: 400px;
    background-color: #2196F3;
}

#projects 
{
    top: 460px;
    background-color: #f44336;
}

#contact 
{
    top: 520px;
    background-color: #555
}
ul
{
    list-style-type: none;
}
